<div class="row">
    <div class="col-md-8 col-md-offset-2 text-center">
	<h2>Sứ mệnh.</h2>
	<hr class="star-primary"/>
        <h3>Giúp mọi người học được công nghệ mới nhất.</h3>
        <p>hocdai.com hướng đến việc giúp mọi người tiếp cận với kiến thức,công nghệ mới nhất của thế giới.<br/> 
		Chúng tôi sẽ xây dựng một nền tảng giúp mọi người học và chia sẻ kiến thức một cách dễ dàng nhất.</p>
    </div>
</div>
<section class="success" id="about">
        
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Bạn có thể làm gì?.</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Tiếp cận những kiến thức mới nhất, những công nghệ mới nhất của thế giới.</p>
                </div>
                <div class="col-lg-4">
                    <p><a href="/toi-la-giang-vien" class="white-anchor">Trở thành giảng viên, tạo bài viết của riêng mình.</a> </p>
                </div>
            </div>
        
    </section>