<div class="row" ng-if="!isPasswordChange">
    <div class="col-md-6 col-md-offset-3">
        <div class="login-panel panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Đổi mật khẩu.</h3>
            </div>
            <div class="panel-body">
                <form name="form" method="post" role="form" novalidate ng-submit="submitForm(form.$valid)">
                    <fieldset>
                        <div class="form-group" ng-class="{ 'has-error' : form.password.$invalid && !form.password.$pristine && form.$submitted }">
                            <label>Mật khẩu hiện tại:</label>
                            <input type="password" class="form-control" placeholder="Mật khẩu hiện tại." name="password" required ng-model="changePasswordForm.currentPassword"
                            ng-minlength="6" ng-maxlength="40" />
                            <div ng-messages="form.password.$error" ng-if="form.$submitted" class="error-message">
                                <span ng-message="minlength">Mật khẩu tối thiểu 6 kí tự.</span>
                                <span ng-message="maxlength">Mật khẩu tối đa 40 kí tự.</span>
                                <span ng-message="required">Bạn chưa nhập mật khẩu.</span>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : form.newPassword.$invalid && !form.newPassword.$pristine && form.$submitted }">
                            <label>Mật khẩu mới:</label>
                            <input type="password" class="form-control" placeholder="Mật khẩu mới." name="newPassword" required ng-model="changePasswordForm.password"
                            ng-minlength="6" ng-maxlength="40" />
                            <div ng-messages="form.newPassword.$error" ng-if="form.$submitted" class="error-message">
                                <span ng-message="minlength">Mật khẩu tối thiểu 6 kí tự.</span>
                                <span ng-message="maxlength">Mật khẩu tối đa 40 kí tự.</span>
                                <span ng-message="required">Bạn chưa nhập mật khẩu.</span>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : form.repeatNewPassword.$invalid && !form.repeatNewPassword.$pristine && form.$submitted }">
                            <label>Lặp lại mật khẩu:</label>
                            <input type="password" class="form-control" placeholder="Lặp lại mật khẩu" name="repeatNewPassword" required ng-model="changePasswordForm.repeatNewPassword"
                            ng-minlength="6" ng-maxlength="40" nx-equal="changePasswordForm.password" />
                            <div ng-messages="form.repeatNewPassword.$error" ng-if="form.$submitted" class="error-message">
                                <span ng-message="minlength">Mật khẩu tối thiểu 6 kí tự.</span>
                                <span ng-message="maxlength">Mật khẩu tối đa 40 kí tự.</span>
                                <span ng-message="required">Bạn chưa nhập mật khẩu.</span>
                                <span ng-message="nxEqual">Xác nhận mật khẩu không đúng.</span>
                            </div>
                        </div>
                        <div class="form-group error-message" ng-if="msg.length>0">
                            {{msg}}
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-block btn-primary" value="Đổi mật khẩu" />
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<h1 ng-if="isPasswordChange">
	Thay đổi mật khẩu thành công.
</h1>