<div class="row" ng-if="err == false">
    <!--Blog Roll Content-->
    <div class="col-md-8" id="MainContainer">
        <article>
            <h2><a href="singlepost.html">{{article.name}}</a></h2>

            <div class="row">
                <div class="group1 col-sm-6 col-md-6">
                    <span class="fa fa-user"></span> <a href="#">{{article.createdBy.name}} abc</a>
                </div>
                <div class="group2 col-sm-6 col-md-6">
                    <span class="glyphicon glyphicon-pencil"></span> <a href="singlepost.html#comments">20 Comments</a>
                    <span class="fa fa-calendar"></span> August 24, 2013 9:00 PM
                </div>
            </div>

            <hr>
            <!--Main content of post-->
            <div class="blog-content" ng-bind-html="article.content">
            </div>
        </article>

    </div>
    <!--Sidebar-->
    <div class="col-md-4">
        <!-- Subscribe to my feed widget -->
        <div class="well text-center">
            <p class="lead">
                Don't want to miss updates? Please click the below button!
            </p>
            <button class="btn btn-primary btn-lg">Subscribe to my feed</button>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Latest Posts</h4>
            </div>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="currentArticle in recentArticles"><a href="/{{currentArticle.nameUrl}}/{{currentArticle.name}}">{{currentArticle.name}}</a></li>
            </ul>
        </div>
    </div>

    <div class="row text-center" ng-if="err">
        <h1>{{msg}}</h1>
    </div>