<div class="row" ng-if="err == false">
    <!--Blog Roll Content-->
    <div class="col-md-9 col-md-push-3" id="MainContainer">
        <div class="row">

            <div class="col-lg-12">
                <h2 class="title media-heading">{{selectedLecture.name}}</h2>
                <ul class="list-inline" ng-if="selectedLecture!=null">
                    <li><i class="fa fa-calendar"></i> {{selectedLecture.createdAt | date:"dd/MM/yyyy"}}</li>
                    <li><i class="fa fa-user"></i> <a href="/tai-khoan/{{selectedLecture.createdBy.id}}">{{selectedLecture.createdBy.name}}</a></li>
                </ul>
                <!--Main content of post-->
                <div class="blog-content" lecture-content-directive content="selectedLecture.content" ng-if="selectedLecture!=null">
                </div>

                <h1 ng-if="selectedLecture == null && isLoading == false">Chưa có bài viết nào trong chương này.</h1>
            </div>

        </div>

        <div class="hidden-md hidden-lg">
            <h4>
            Các Bài Trong Chương
             </h4>
            <div class="row">
                <div class="col-sm-12">
                    <a href="/{{subject.nameUrl}}/{{selectedChapter.nameUrl}}/{{lecture.nameUrl}}" class="block-anchor" ng-repeat="lecture in lectures"
                    ng-if="lecture.nameUrl != selectedLecture.nameUrl">{{lecture.name}}</a>
                </div>
            </div>
        </div>

        <div class="row commentBox" ng-show="comments.length>0">
            <div class="clearfix">
                <h3 class="comment-title">Bình luận</h3>
            </div>
            <div class="clearfix comment-row " ng-repeat="comment in comments">
                <div class="commenterImage">
                    <img src="http://lorempixel.com/50/50/people/6" />
                </div>
                <div>
                    <div class="comment-holder">
                        <div class="comment-delete-holder">
                            <button type="button" class="close" aria-hidden="true" ng-if="currentUser.role =='admin' || comment.createdBy.id == currentUser.id"
                            ng-click="deleteComment(comment)">&times;</button>
                        </div>
                        <!--comment block-->
                        <div class="comment-block">
                            <div class="commenter"><a href="/tai-khoan/{{comment.createdBy.id}}">{{comment.createdBy.name}}</a> </div>
                            <span class="date sub-text">{{comment.createdAt | date:"dd/MM/yyyy h:mma"}}</span>
                            <!--comment content-->
                            <div class="comment-content">
                                <p class="">{{comment.content}}</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row col-md-12 user-comment-box">
            <h3>Viết bình luận</h3>

            <form name="form" method="post" novalidate ng-submit="submit();" ng-if="isAuthenticated">
                <div class="form-group">
                    <textarea rows="1" name="comment" enter-submit="submit();" class="form-control" placeholder="Viết bình luận" msd-elastic
                    ng-model="commentForm.content" ng-keyup="keyUp()"></textarea>
                    <input type="hidden" ng-model="commentForm.lecture" />
                </div>
                <div class="form-group text-right" ng-show="remain<512">
                    <span>Còn lại: {{remain}}</span>
                    <input type="submit" value="Đăng" class="btn btn-primary" />
                </div>
            </form>
            <h4 ng-if="!isAuthenticated">Vui lòng <a href="/dang-nhap">đăng nhập</a> để viết bình luận.</h4>
        </div>
    </div>
    <!--Sidebar-->
    <div class="col-md-3 col-md-pull-9 sidebar sidebar-left">
        <div class="inner">
            <div class="bs-docs-sidebar">
                <div><a class="violet-anchor" href="/{{subject.nameUrl}}/"><h3>{{subject.name}}</h3></a></div>
                <ul class="nav bs-docs-sidenav">
                    <li ng-repeat="chapter in chapters" ng-class="{ 'active' : selectedChapter.nameUrl == chapter.nameUrl }">
                        <a href="/{{subject.nameUrl}}/{{chapter.nameUrl}}" ng-if="selectedChapter.nameUrl != chapter.nameUrl">{{chapter.name}}</a>
                        <!--if this is the current chapter-->
                        <a ng-if="selectedChapter.nameUrl == chapter.nameUrl">{{chapter.name}}</a>
                        <ul class="nav" ng-if="selectedChapter.nameUrl == chapter.nameUrl">
                            <li ng-repeat="lecture in lectures" ng-class="{ 'active' : selectedLecture.nameUrl == lecture.nameUrl }">
                                <!--a normal lecture-->
                                <a href="/{{subject.nameUrl}}/{{chapter.nameUrl}}/{{lecture.nameUrl}}" ng-if="selectedLecture.nameUrl != lecture.nameUrl"
                                class="pointer-anchor">{{lecture.name}}</a>
                                <!--if this is the current lecture-->
                                <a ng-if="selectedLecture.nameUrl == lecture.nameUrl">{{lecture.name}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row text-center" ng-if="err">
    <h1>{{msg}}</h1>
</div>