<h5>Xin chào <b><%= name %></b>.</h5>
<p>Bạn hoặc ai đó đã gởi yêu cầu khôi phục mật khẩu tại <a href="http://hocdai.com/">hocdai.com</a></p>
<p>Để khôi phục lại mật khẩu, xin vui lòng click vào link dưới.</p>
<a href="<%-resetURL%>"><%-resetURL%></a>

<p><b>Lưu ý: Email này chỉ có giá trị trong vòng 48h.</b></p>
<p>Cảm ơn bạn đã sử dụng dịch vụ của chúng tôi.</p>
<p>hocdai.com</p>
<p><a href="http://hocdai.com/">hocdai.com</a></p>